---
---
@import "{{ site.theme }}";
$white: white;
$black: black;

.draft {
	background-image: url({% link /assets/images/draft-160133_640.png %});
	background-repeat: repeat;
	background-size: contain;
}

.draft:hover {
	background-image: none !important;
}

div.description {
	font-style: oblique;
	padding: 1em 0;
}

#searchBar {
    font-size: 80%;
    display: inline-block; 
    float: right;

    #search {

        #searchString {
            width: 283px;
            border: none;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
            padding: 0.3em 0.6em;
            background-color: #f6f5ea;
            margin-right: 0;
        }
    
        #searchButton {
            paddign: 0.3em 0.6em;
            background-color: #0B5485;
            border: 1px solid #f6f5ea;
            margin-left: 0;
            color: $white;
            -webkit-appearance: none;
            border-radius: 0;
        }

    }
}

aside {
	border-left: 10px solid #525252;
	padding: .25em .25em .25em .25em;
	color: black;
	background: #6f95c6;
	h1 {
		font-size: 120%;
	}
}

.tagline {
	font-size: 75%;
	font-style: italic;
}

input[type='checkbox'] {
	display: none;
}


.wrap-collapsible {
	margin-bottom: 1em;
}

.lbl-toggle {
	display: block;
	font-weight: bold;
	font-family: monospace;
	font-size: 1.2rem;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: #7C5A0B;
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  margin-right: .7rem;
}

.collapsible-content .content-inner {
	background: #6f95c6;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

input.toggle ~ div.collapsible-content {
	max-height: 0;
	overflow: hidden;
	transition: max-height 2s;
}

input:checked.toggle ~ div.collapsible-content {
	transition: max-height 2s;
	max-height: unset;
}


a.prev, a.next, a.blog {
	display: inline-block;
	text-align: center;
	background: #6f95c6;
	color: black;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
	padding: 0;
	margin: 0;
	border: 0;
	width: 32.5%;

	&:hover:enabled {
  		color: #7C5A0B;
	}

	&.disabled {
		visibility:hidden;
	}
}

ul + figure {
	margin-left: 40px;
}

section {
	p {
		code {
			margin: 0;
			padding: 0;
		}
	}
}

div.content {
	section {
		padding: .25em .25em .25em .25em;
		margin: 0 0 1em 0;

		div.language-terminal {
			margin-bottom: 1em;
			padding-bottom: 0em;
		}

		aside {
			margin: 1em 0;
		}
		p {
			code {
				margin: 0;
				padding: 0;
			}
		}

		pre.highlight {
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
			white-space: pre-wrap;
		}

		&.summary {
			p, h3 {
				display: none;
			}
			aside {
				p, h3 {
					display: block;
				}
			}
			div {
				margin-bottom: 0;
			}
			code {
				span {
					&.gp, &.go {
						display: none;
					}
				}
			}
		}

		&.details {
			span.gp {
				margin-right: .75em;
			}
			h3 {
				margin-bottom: .25em;
			}
			div.language-terminal {
				margin-bottom: 1em;
			}
		}
	}
}

div#title, div.wrapper > section {
	margin-bottom: 0;
	padding-bottom: 0;	
}

div.content {
	section:nth-child(even) {
		background-color: #2e2e2e;
	}
}

div.content {
    div.include {
        > div:first-child.highlighter-rouge {
            display: none;
        }
    }
}
